h1 {
    color: rgb(225, 39, 70); 
    text-decoration: underline; 
   }
   
   p {
     color: rgb(34, 6, 146);
     font-size: 18px;
     width: 400px;
     text-indent: 50px;
     text-align: justify;
   }

span{
    color: rgb(214, 40, 191);
    font-size: 25px;
}