h1{
    color:blueviolet;
    text-decoration: underline;

}

.pink-box{
    background-color: rgb(255, 127, 234);
    color: white;
}

.orange-box{
    background-color: rgb(255, 165, 0);
    color: white;
}

.yellow-box{
    background-color: rgb(241, 241, 138);
}